h1.ArtIA {
    padding-top: 12 px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#paginaWebcam,
#paginaRisultati {
    text-align: center;
}

#paginaWebcam p,
#paginaRisultati p {
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#paginaRisultati .sottotitolo {
    padding-top: 20px;
}
.blogin{
    text-decoration: none;
    color: black;
    position: absolute;
    top: 10px;
    right: 10px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin:0 auto;
}
.loginForm input{
    margin-bottom:15px;
}
/*

#bottone {
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: bold 17px Arial, Helvetica, sans-serif;
    color: #fff;
    padding: 10px 20px;
    border: solid 1px #0076b3;
    background: #0095cd;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#bottone:active {
    position: relative;
    top: 1px;
    }

    #bottone:hover {
        background: #0078a5;
        }*/

#bottone {
    padding: 14px 28px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

#bottone:hover {
    background-color: #555555;
    color: white;
}


.griglia-quadri {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;
}

.quadro {
    max-width: 33.33%;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 25px;
    position: relative;
}

.nascosta {
    visibility: hidden;
    display: none;
}


.quadro .container .imgtitolo {
    box-sizing: border-box;
    padding-top: 16px;
    padding-bottom: 16px;
}


.quadro .container .imgtitolo{
    padding-top: 0px;
    padding-bottom: 0px;
}

#subframe {
    display: none;
  }


  .container-admin{
    text-align: center;
  }